<% layout("./layouts/boilerplate.ejs")%>
<body>
    <div class="row ">
        <div class="col-6 offset-3">
            <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-4 mt-5">
                    <label for="title" class="form-label">Title: </label>
                    <input class="form-control" type="text" name="listing[title]" value="<%=listing.title%>" required>
                    <div class="invalid-feedback">Title required</div>
                </div>
                <div class="mb-4">
                    <label for="description" class="form-label"> Description:  </label>
                    <textarea class="form-control" name="listing[description]" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">Description required</div>
                </div>
                <div class="mb-4">
                    <label for="image" class="form-label"> Image Link:  </label>
                    <input class="form-control" type="text" name="listing[image]" value="<%=listing.image%>" required>  
                    <div class="invalid-feedback">Image link required</div>
                </div>
                <div class="row">
                    <div class="mb-4 col-md-4">
                        <label for="price" class="form-label"> Price:  </label>
                        (&#8377;): <input class="form-control" type="number" name="listing[price]" value="<%=listing.price%>" required>
                        <div class="invalid-feedback">Price required</div>
                    </div>
                    <div class="mb-4 col-md-8">
                        <label for="country" class="form-label">Country: </label>
                        <input class="form-control" type="text" name="listing[country]" value="<%=listing.country%>" required>
                        <div class="invalid-feedback">Country required</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="location" class="form-label">  Location:  </label>
                    <input class="form-control" type="text" name="listing[location]" value="<%=listing.location%>" required>  
                    <div class="invalid-feedback">Location required</div>
                </div>
                <button class="mt-3 mb-5 btn edit-btn">Edit Now</button>
            </form>

        </div>
    </div>
   
</body>
